# Import required libraries

In [1]:
import pandas as pd
import string
import re
from sklearn.feature_extraction.text import TfidfVectorizer

# Read combined data

In [2]:
combined_data=pd.read_csv(r"C:\Users\User\Downloads\combined_data_group18.csv")
combined_data.head(2)

   Unnamed: 0  overall                                         reviewText
0           0      5.0                            It's good for beginners
1           1      5.0  I recommend this starter Ukulele kit.  I has e...

In [3]:
reviews=combined_data[['reviewText']]
reviews.head(2)

                                          reviewText
0                            It's good for beginners
1  I recommend this starter Ukulele kit.  I has e...

# select first 10000 and last 10000 reviews

In [4]:
first_10000 = reviews.head(10000)
last_10000 = reviews.tail(10000)
# Concatenating the two dataframes vertically
reviews_20k = pd.concat([first_10000, last_10000], ignore_index=True)
print(reviews_20k.shape)
print(reviews_20k.head(2))

(20000, 1)
                                          reviewText
0                            It's good for beginners
1  I recommend this starter Ukulele kit.  I has e...

In [5]:
reviews_20k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reviewText  19993 non-null  object
dtypes: object(1)
memory usage: 156.4+ KB

In [6]:
reviews_20k['reviewText'] = reviews_20k['reviewText'].astype(str)

# Lowercasing and removing punctuation

In [7]:
# regex pattern to match any punctuation character

# punctuation_pattern = re.compile('[{}]'.format(re.escape(string.punctuation)))

def remove_punctuation(text):
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

# Method to lowercase and remove punctuation
def lowercase_text(text):
    text_lower = text.lower()  # Lowercasing
#     text_no_punct = punctuation_pattern.sub('', text_lower)  # Removing punctuation 
    return text_lower

reviews_20k['processed_review'] = reviews_20k['reviewText'].apply(lowercase_text) # apply method to column
reviews_20k['processed_review'] = reviews_20k['processed_review'].apply(remove_punctuation)
print(reviews_20k[['reviewText', 'processed_review']])

                                              reviewText  \
0                                It's good for beginners
1      I recommend this starter Ukulele kit.  I has e...
2      G'daughter received this for Christmas present...
3      According to my order history, I bought this t...
4      Please pay attention better than I did to the ...
...                                                  ...
19995  Good for viewing. But doesn't have a button or...
19996  I was given the Rockrok 3D VR Glasses Headset ...
19997  Super Fun! The RockRoc 3d vr headset is waaaay...
19998  Love it!\n\nI've had other VR glasses which al...
19999                                          i love it

                                        processed_review
0                                 its good for beginners
1      i recommend this starter ukulele kit  i has ev...
2      gdaughter received this for christmas present ...
3      according to my order history i bought this th...
4      please pay attention better than i did to the ...
...                                                  ...
19995  good for viewing but doesnt have a button or c...
19996  i was given the rockrok 3d vr glasses headset ...
19997  super fun the rockroc 3d vr headset is waaaay ...
19998  love it\n\nive had other vr glasses which all ...
19999                                          i love it

[20000 rows x 2 columns]

In [ ]:
remove \n

# IDF frequencies

In [8]:
vectorizer = TfidfVectorizer() # Initialize the Tf-idf vectorizer
tfidf_matrix = vectorizer.fit_transform(reviews_20k['processed_review']) #TF-IDF Matrix
words = vectorizer.get_feature_names_out()

# Compute IDF values
idf_values = vectorizer.idf_


idf_df = pd.DataFrame({'word': words, 'idf': idf_values}) # DataFrame with words and their IDF values

idf_df_sorted = idf_df.sort_values(by='idf', ascending=False)# Sort based on IDF values
top_30_words = idf_df_sorted.head(30)
bottom_30_words = idf_df_sorted.tail(30)

print("Top 30 words based on IDF:")
print(top_30_words)

print("\nBottom 30 words based on IDF:")
print(bottom_30_words)

Top 30 words based on IDF:
                                                    word       idf
23789                                              zztop  10.21039
8820                                              futile  10.21039
8810                                               fused  10.21039
16911                                          rearrange  10.21039
16910                                         rearpickup  10.21039
8813                                           fusion2go  10.21039
16909                                            rearend  10.21039
8815                                             fussing  10.21039
16908                                           rearback  10.21039
8817                                           fustrated  10.21039
8818                                          fustration  10.21039
8819                                              futher  10.21039
16906                                         reapplying  10.21039
16849                                                rbx  10.21039
16903                                        reappearing  10.21039
8823   futurehttpsmileamazoncomg7thperformancecapostr...  10.21039
16899                                             realty  10.21039
8826                                          fuzzvolume  10.21039
16898                                         realtively  10.21039
8828                                              fv500l  10.21039
8829                                               fv50h  10.21039
8830                                               fv50l  10.21039
16897                                            realtek  10.21039
16896                                              realm  10.21039
8809                                                fuse  10.21039
16912                                         rearranged  10.21039
16913                                        rearranging  10.21039
16914                                              reaso  10.21039
8782                                           functioni  10.21039
16930                                             rebate  10.21039

Bottom 30 words based on IDF:
        word       idf
15432  phone  2.925912
23097   well  2.925227
14533    one  2.880969
3989    case  2.880641
22945    was  2.873453
12244   like  2.870528
11389    its  2.865671
19355     so  2.800951
2159     are  2.740736
2240      as  2.705173
22614   very  2.699686
23683    you  2.624855
9228    good  2.591402
9835    have  2.517137
21005   that  2.496382
14195    not  2.471031
9375   great  2.408794
10802     in  2.385745
23346   with  2.365366
3669     but  2.349627
14523     on  2.315141
14412     of  2.199035
13789     my  2.105989
11322     is  2.104027
21129   this  2.061367
8514     for  1.995519
11350     it  1.855010
21366     to  1.845999
1916     and  1.683940
21012    the  1.620783